.ipynb_checkpoints
.ipynb_checkpoints/*
dev/.ipynb_checkpoints/*
*egg-info*
*log
*tif
*sqlite
*tiff
data/*
*poni
*pyc
*swp
*.DS_Store
dev/*
.idea/*
AFL/automation/EpicsADLiveProcess/templates/static/.gitkeep
AFL/automation/EpicsADLiveProcess/templates/static/deck.jpeg
AFL/automation/EpicsADLiveProcess/templates/static/jquery-3.4.1.min.js
AFL/automation/EpicsADLiveProcess/templates/static/logo.svg
AFL/automation/EpicsADLiveProcess/templates/static/ncnr.png
