numpy<2
pandas 
scipy
xarray
tiled[minimal-client]
netcdf4
jupyterlab
ipywidgets
ipympl
nodejs
matplotlib
seaborn
pint
periodictable
flask <2.3
flask-jwt-extended >=4.0
bokeh
pillow
scikit-image<0.20
pyserial
requests
flask_cors
zeroconf
#pyFAI
#certif-pyspec==1.1.12

