{% extends 'base.html' %}

{% block header %}
    {% block title %}Component View{% endblock %}
    <br>
    <a class="action" href="{{ url_for('component.create') }}">New Entry</a>
{% endblock %}

{% block content %}

    <div class="display">

     <form method="post">

            Number of entries per page: <input class="number" type="number" id="number" name="number"
            min="1" max="100" value="{{ per_page }}" disabled>
            <input class="pagechange" type="submit" value="Submit" disabled>

            <br> Toggle Unified View:

            {% if unified %}

            <input class="checkbox" onChange="this.form.submit()" type="checkbox" id="checkbox" name="unified" checked>

            {% else %}

            <input class="checkbox" onChange="this.form.submit()" type="checkbox" id="checkbox" name="unified">

            {% endif %}

            <br><br>

            Sort By:
            <select name="filter" id="filter" required>
              <option value="none" selected disabled hidden>{{ filter_by }}</option>
              <option value="id">ID</option>
              <option value="created">Created</option>
              <option value="name">Name</option>
              <option value="description">Description</option>
              <option value="mass">Mass</option>
              <option value="mass_units">Mass units</option>
              <option value="density">Density</option>
              <option value="density_units">Density units</option>
              <option value="formula">Formula</option>
              <option value="sld">SLD</option>
            </select>

             <input class="pagechange" type="submit" value="Submit">

            <br>
            {{ total }} total entries

            <a class="action" href="{{ url_for('component.export') }}">Export CSV</a>

            <a class="action" href="{{ url_for('component.generate_json') }}">JSON</a>

            <br><br> Send JSONS to component/send_json

     </form>

    </div>

    <table class="table" style="width:100%">

        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Name</th>
            <th>Description</th>
            <th>Mass</th>
            <th>Mass Units</th>
            <th>Density</th>
            <th>Density Units</th>
            <th>Formula</th>
            <th>SLD</th>
        </tr>

      {% for post in posts %}

          <tr>
            <td>{{ post['id'] }}</td>
            <td>{{ post['created'] }}</td>
            <td>{{ post['name'] }}</td>
            <td>{{ post['description'] }}</td>
            <td>{{ post['mass'] }}</td>
            <td>{{ post['mass_units'] }}</td>
            <td>{{ post['density'] }}</td>
            <td>{{ post['density_units'] }}</td>
            <td>{{ post['formula'] }}</td>
            <td>{{ post['sld'] }}</td>
        </tr>

      {% endfor %}
     </table>

{% endblock %}

