{% extends 'base.html' %}

{% block header %}
    {% block title %}New Measurement{% endblock %}
    <br>
    <a class="action" href="{{ back }}">Back</a>
{% endblock %}

{% block content %}
  <form method="post">

    <a class="action" href="{{ url_for('measurement.upload') }}">Upload CSV</a>

    <label for="sample_id">Sample ID (must be existing sample)</label>
    <input name="sample_id" id="sample_id" value="{{ request.form['name'] }}" required>

    <label for="metadata">Measurement Metadata</label>
    <textarea name="metadata" id="metadata">{{ request.form['description'] }}</textarea>

    <input class="submit" type="submit" value="Save">

  </form>
{% endblock %}