<title>{% block title %}{% endblock %}</title> <!--- Block and end block signify parts to be replaced --->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>

  <div class="page-top">

    <a href="{{ url_for('mainview.index') }}" title="Return to main directory"><img class = "page-logo" src="/static/logo.png" alt="NIST LOGO"></a>

    <header class="page-title">
      {% block header %}{% endblock %}
    </header>

    </div>

</nav>
<section class="content">
  {% block content %}{% endblock %}
   {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
</section>