<div class="ntd2dwrapper">
  <ul>
    <li class="ntd2d_latest"><a href="/AFL-automation/en/latest/index.html">latest</a></li>

    <li class="ntd2d_stable"><a href="/AFL-automation/en/stable/index.html">stable</a></li>

    <li class="ntd2d_v1.1.0"><a href="/AFL-automation/en/v1.1.0/index.html">v1.1.0</a></li>

    <li class="ntd2d_v1.0.1"><a href="/AFL-automation/en/v1.0.1/index.html">v1.0.1</a></li>

    <li class="ntd2d_v1.0.0"><a href="/AFL-automation/en/v1.0.0/index.html">v1.0.0</a></li>

  </ul>
  <ul>
    <li class="ntd2d_main"><a href="/AFL-automation/en/main/index.html">main</a></li>

    <li class="ntd2d_ot2prepare"><a href="/AFL-automation/en/ot2prepare/index.html">ot2prepare</a></li>

    <li class="ntd2d_pr-99"><a href="/AFL-automation/en/pr-99/index.html">pr-99</a></li>

  </ul>
</div>
