<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
        <link rel="stylesheet" type="text/css" href='static/style.css' />
        <script src="static/jquery/jquery-3.4.1.min.js" ></script>
        <script src="static/scripts.js" ></script>
    </head>
    <body>
        <div id="header-bar">
            <img id="nist-logo" src="static/logo.svg" />
            <p class="status-strip">
            • {{name}} •
            <br/>
            Queued:&nbsp;<span id='queue_size'></span> • Completed:&nbsp;<span id='history_size'></span>
            <br/>
            Driver:&nbsp;{{driver}} • Queue&nbsp;State:&nbsp;<span id='queue_state'></span> 
            <br/>
            Last&nbsp;Updated:&nbsp;<span id='time'></span> 
            </p>
            <img id="ncnr-logo" src="static/ncnr.png" />
        </div>
        {% if useful_links %}
        <div id="useful_links">
            <ul>
            {% for link in useful_links %}
                {% for text, url in link.items() %}
                    <li><a href="{{ url|safe }}" target="_blank">{{ text }}</a></li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="content_container">
            <div class="button_row">
                <button class='button' onclick=$.post('/clear_history')>Clear History</button>
                •
                <button class='button' onclick=$.post('/clear_queue')>Clear Queue</button>
                •
                <button class='button' onclick=$.post('/halt') style="background-color:red">HALT</button>
            </div>
            <div class="button_row">
                <button class='button' onclick=$.post({url:'/pause',data:'{"state":true}',contentType:'application/json'})>Pause</button>
                •
                <button class='button' onclick=$.post({url:'/pause',data:'{"state":false}',contentType:'application/json'})>Unpause</button>
            </div>
            <div id="command-queue">
                <!--<h3 class="centered">Task History </h3> <hr/> -->
                <div id="history" class="overflow"></div>
                <hr/>
                
                <!--<h3 class="centered">Running Task</h3> <hr/>-->
                <div id="running"class="overflow"></div>
                <hr/>

                <!--<h3 class="centered">Task Queue</h3> <hr/>-->
                <div id="queued"class="overflow"></div>
                <hr/>
            </div>
            <div id="driver_status" class="overflow"></div>
        </div id="content_container">
    </body>
</html>
