body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    background-color: #222636;
    color: white;
}

.page-top {
    background-color: rgb(47, 52, 71);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 12px 0px;
    min-height: 56px;
}

.page-logo {
    display: inline-block;
    width: auto;
    height: 45px;
    padding-top: 0.9em;
    padding-left: 0.5em;
}

.page-title {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.directory {
    padding: 0.8em;
    font-size: x-large;
}

.content {
    padding-left: 6px;
    padding-right: 6px;
}

.content h1 {
    font-size: xx-large;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    margin: auto;
}

.about {
    color: #ccd2e6;
    font-style: italic;
    padding-bottom: 1em;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    padding-top: 1em;
}

.display form {
    padding-top: 1em;
    display: inline-block;
    flex-direction: row;
    width: 100%;
}

.content label {
    font-weight: bold;
    font-size: x-large;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.content input, .content textarea, .content select {
    margin-bottom: 1em;
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
    color: white;
    background-color: #091426;
    font-size: large;
}

.content textarea {
    min-height: 10em;
    resize: vertical;
    font-size: large;
}

input.submit, input.danger {
    background-color: green;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    min-width: 20em;
    padding: 0.2em;
}

input.danger {
    background-color: red;
}

input.print {
    background-color: green;
    margin-right: 100%;
    margin-bottom: 1em;
    min-width: 10em;
    padding: 0.2em;
}

input.stock_danger {
    background-color: red;
    display: inline;
    max-width: 10em;
}

.flash {
    margin: 2em;
    text-align: center;
    padding: 1em;
    background: red;
    border: 1px solid #1c222b;
}

.content table, th, td {
    table-layout: fixed;
    width: 50%;
    text-align: left;
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    background-color: rgba(0,0,0,0.2);
    padding: 0.2em;
}

.pager {
    display: flex;
    margin: auto;
    max-width: 30%;
    padding: 2em;
}

input.pagination, input.pagin {
    max-width: 5em;
    background-color: #2c2f33;
    padding: 0.5em;
    margin: 0.3em;
    text-align: center;
}

input.pagin {
    background-color: #6665d2;
}

input.pagination:hover, input.pagechange:hover {
    opacity: 0.8;
}

input.pagination:disabled {
    opacity: 0.5;
}

input.pagechange {
    background-color: #e74c3c;
    margin: auto;
    width: 5em;
}

input.pagechange:disabled {
    opacity: 0.5;
}

input.number {
    max-width: 4em;
    margin-bottom: 0.6em;
}

input.number_edit {
    min-width: 20em;
    margin-bottom: 0.6em;
}

input.checkbox {
    width: 0.8em;
    height: 0.8em;
    margin-bottom: 0.2em;
}

.display {
   font-style: italic;
   opacity: 0.8;
   display: inline-block;
   margin: auto;
   max-width: 100%;
}

a {
    color: hotpink;
}

canvas {
    margin: auto;
    padding-top: 2em;
}

