{% extends 'base.html' %}

{% block header %}
    {% block title %}Create Sample{% endblock %}
    <br>
    <a class="action" href="{{ back }}">Back to Sample View</a>
    <a class="action" href="{{ url_for('sample_stock.create') }}">New Single Entry</a>
{% endblock %}

{% block content %}
  <form method="post">

    <p>This will link a sample and stock together. If the specified sample (ID) does not already exist
    a new sample in the sample table will be created using the provided sample name. If a link with the same
    IDs are found information will be overwritten.</p>

    <div class="test">

    Number of stocks: <input class="number" type="number" id="number" name="number" min="1" max="100" value="{{ number }}">
    <button class="pagechange" type="submit" name="list_update" value="list_update"> Submit </button>

    </div>

    <br> <a class="action" href="{{ url_for('sample_stock.upload') }}">Upload CSV</a>

    <label for="sample_name">Sample Name (for stock entry, will not be used if the stock already exists)</label>
    <input name="sample_name" id="sample_name" value="{{ request.form['sample_name'] }}">

    <label for="sample_id">Sample ID</label>
    <input name="sample_id" type="number" id="sample_id" value="{{ request.form['sample_id'] }}">

    <br>

    <div class="createAlt">

      <div class="totalD">

        <label for="total">Total Quantity</label>
        <input class="total" name="total" id="total" value="{{ request.form['total'] }}">

      </div>

      <div class="gmlD">

         <label for="gml">g/ml</label>

        <select class="gml" name="gml" id="gml" required>

          <option value="none" selected disabled hidden>select an option...</option>
          <option value="g">g</option>
          <option value="ml">ml</option>

        </select>

      </div>

    </div>



    <table style="width:100%">

      <tr>
        <th>Stocks</th>
        <th>Stock Fraction (%)</th>
      </tr>
      <tr>

      {% for i in range(number) %}

        <td><select name="stock_id_{{i}}" id="stock_id_{{i}}">
        <option value="none" selected disabled hidden>select an option...</option>

      {% for stock in stocks %}

        <option value="{{ stock[0] }}">{{ stock[0] }}</option>

      {% endfor %}

       </select></td>

      <td><input name="fraction_{{i}}" id="fraction_{{i}}" value="{{ request.form['fraction_{{i}}'] }}"></td>

      </tr>

      {% endfor %}


    </table>

    <br> <button class="submit" type="submit" name="submit" value="submit"> Save </button>

  </form>
{% endblock %}