{% extends 'base.html' %}

{% block header %}
    {% block title %}Create Stock{% endblock %}
    <br>
    <a class="action" href="{{ back }}">Back to Stock View</a>
    <a class="action" href="{{ url_for('stock_component.create') }}">New Single Entry</a>
{% endblock %}

{% block content %}
  <form method="post">

    <p>This will link a stock and component together. If the specified stock (ID) does not already exist
    a new stock in the stock table will be created using the provided stock name. If a link with the same
    IDs are found information will be overwritten.</p>

    <div class="test">

    Number of components: <input class="number" type="number" id="number" name="number" min="1" max="100" value="{{ number }}">
    <button class="pagechange" type="submit" name="list_update" value="list_update"> Submit </button>

    </div>

    <br> <a class="action" href="{{ url_for('stock_component.upload') }}">Upload CSV</a>

    <label for="stock_name">Stock Name (for stock entry, will not be used if the stock already exists)</label>
    <input name="stock_name" id="stock_name" value="{{ request.form['stock_name'] }}">

    <label for="stock_id">Stock ID</label>
    <input name="stock_id" type="number" id="stock_id" value="{{ request.form['stock_id'] }}">

    <br>

    <div class="createAlt">

      <div class="totalD">

        <label for="total">Total Quantity</label>
        <input class="total" name="total" id="total" value="{{ request.form['total'] }}">

      </div>

      <div class="gmlD">

         <label for="gml">g/ml</label>

        <select class="gml" name="gml" id="gml" required>

          <option value="none" selected disabled hidden>select an option...</option>
          <option value="g">g</option>
          <option value="ml">ml</option>

        </select>

      </div>

    </div>



    <table style="width:100%">

      <tr>
        <th>Components</th>
        <th>Component Fraction (%)</th>
      </tr>
      <tr>

      {% for i in range(number) %}

        <td><select name="component_id_{{i}}" id="component_id_{{i}}">
        <option value="none" selected disabled hidden>select an option...</option>

      {% for component in components %}

        <option value="{{ component[0] }}">{{ component[0] }}</option>

      {% endfor %}

       </select></td>

      <td><input name="fraction_{{i}}" id="fraction_{{i}}" value="{{ request.form['fraction_{{i}}'] }}"></td>

      </tr>

      {% endfor %}


    </table>

    <br> <button class="submit" type="submit" name="submit" value="submit"> Save </button>

  </form>
{% endblock %}