{% extends 'base.html' %}

{% block header %}
    {% block title %}Edit Stock Component{% endblock %}
    <br>
    <a class="action" href="{{ back }}">Back</a>
{% endblock %}

{% block content %}
  <form method="post">

    <p>This will link a stock and component together. If the specified stock (ID) does not already exist
      a new stock in the stock table <b>WILL NOT</b> be created. To create a stock, go <a class="action" href="{{ url_for('stock_component.create') }}">here</a>.
      To change a stock's name use the stock view.</p>

    <label for="stock_id">Stock ID</label>
    <input name="stock_id" type="number" id="stock_id" value="{{ request.form['stock_id'] or post['stock_id']}}" required>

    <label for="component_id">Component ID</label>
    <select name="component_id" id="component_id" required>

        {% for component in components %}

          {% if post['component_id'] == component[0] %}

          <option value="{{ component[0] }}" selected>{{ component[0] }}</option>

          {% else %}

          <option value="{{ component[0] }}">{{ component[0] }}</option>

          {% endif %}

        {% endfor %}

    </select>

    <label for="amount">Amount</label>
    <input name="amount" id="amount" value="{{ request.form['amount'] or post['amount']}}" required>

    <label for="units">Units</label>
    <input name="units" id="units" value="{{ request.form['units'] or post['units']}}" required>

    <label for="volmass">Volume or Mass</label>
    <select name="volmass" id="volmass" required>

      {% if post['volmass'] == 'volume' %}

      <option value="volume" selected>Volume</option>
      <option value="mass">Mass</option>

      {% else %}

      <option value="volume">Volume</option>
      <option value="mass" selected>Mass</option>

      {% endif %}

    </select>

    <input class="submit" type="submit" value="Save">

  </form>

  <form action="{{ url_for('stock_component.delete', id=post['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('WARNING: Are you sure you want to delete this entry? This will NOT delete the stock associated with this component.');">
  </form>

{% endblock %}