{% extends 'base.html' %}

{% block header %}
    {% block title %}Main Directory{% endblock %}
{% endblock %}
{% block content %}
<div class="directory">

    <li><a class="action" href="{{ url_for('component.index', page=1) }}">Component View</a></li>
    <br>

    <li><a class="action" href="{{ url_for('stock.index', page=1) }}">Stock View</a></li>
    <br>

    <li><a class="action" href="{{ url_for('sample.index', page=1) }}">Sample View</a></li>
    <br>

    <li><a class="action" href="{{ url_for('measurement.index', page=1) }}">Measurement View</a></li>
    <br>


    <li><a class="action" href="{{ url_for('stock_component.index', page=1) }}">Stock Component View (DEBUG)</a></li>
    <br>
    <li><a class="action" href="{{ url_for('sample_stock.index', page=1) }}">Sample Stock View (DEBUG)</a></li>
    <br>

</div>
{% endblock %}

