<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
        <link rel="stylesheet" type="text/css" href='static/style.css' />
        <script src="static/jquery-3.4.1.min.js" ></script>
        <script src="static/scripts.js" ></script>
		<script>
			function api_login(){
			    $.ajax({
			        url:'/login',
					type: 'POST',
			        data:'{"username":"HTML","password":"domo_arigato"}',
			        contentType:'application/json',
                    error : function(err) {
                        console.log('Login Error!',err)
                    },
                    success : function(data) {
                        console.log('Login Success!',data)
                        localStorage.setItem('token',data.token)
                    }

			    })
			 }
            function enqueue(data) {
			    $.ajax({
			        url:'/enqueue',
					type: 'POST',
			        data: data,
			        contentType:'application/json',
                    //header: {'Authorization': 'Bearer '+localStorage.getItem('token')},
                    beforeSend: function(request){
                                    request.withCredentials = true;
                                    request.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));
                                },
                    error : function(err) {
                        console.log('Enqueue Error!',err)
                    },
                    success : function(data) {
                        console.log('Enqueue Success!')
                    }

			    })
            }
		</script>
    </head>
    <body onload="api_login()">
        <div id="header-bar">
            <img id="nist-logo" src="static/logo.svg" />
            <p class="status-strip">
            • {{name}} •
            <br/>
            Queued:&nbsp;<span id='queue_size'></span> • Completed:&nbsp;<span id='history_size'></span>
            <br/>
            Driver:&nbsp;{{driver}} • Queue&nbsp;State:&nbsp;<span id='queue_state'></span> 
            <br/>
            Experiment:&nbsp;{{experiment}} • Contact:&nbsp;{{contact}}  
            <br/>
            Last&nbsp;Updated:&nbsp;<span id='time'></span> 
            </p>
            <!--<form action="/halt" method="POST"><input id="estop" type="submit" value="HALT"></form>-->
            <img id="ncnr-logo" src="static/ncnr.png" />
        </div>
        <div id="content_container">
            <div class="button_row">
                <button class='button',onclick=$.post('/clear_history')>Clear History</button>
                •
                <button class='button',onclick=$.post('/clear_queue')>Clear Queue</button>
                •
                <button class='button' onclick=$.post('/halt') style="background-color:red">HALT</button>
            </div>
            <div class="button_row">
                <button class='button',onclick=$.post({url:'/pause',data:'{"state":true}',contentType:'application/json'})>Pause</button>
                •
                <button class='button',onclick=$.post({url:'/pause',data:'{"state":false}',contentType:'application/json'})>Unpause</button>
               
            </div>
            <!--<h3 class="centered"> Driver Control</h3> <hr/>-->
            <div class="button_row">
                <label for="pump_volume" style="font-size:larger;font-weight:bolder;">Volume (mL):  </label>
                <select class='button' id="pump_volume">
                    <option value=0.1>0.1</option>
                    <option value=0.5>0.5</option>
                    <option value=1.0>1.0</option>
                    <option value=5.0>5.0</option>
                    <option value=10.0>10.0</option>
                </select>
                <button class='button' onclick=enqueue(JSON.stringify({"task_name":"withdraw","device":"pump","volume":parseFloat($("#pump_volume").val())}))>Withdraw</button>
                <button class='button' onclick=enqueue(JSON.stringify({"task_name":"dispense","device":"pump","volume":parseFloat($("#pump_volume").val())}))>Dispense</button>
            </div>
            <div class="button_row">
                <label for="pump_rate" style="font-size:larger;font-weight:bolder;">Rate (mL/min):  </label>
                <select class='button' id="pump_rate">
                    <option value=0.1>1.0</option>
                    <option value=5.0>5.0</option>
                    <option value=10.0>10.0</option>
                    <option value=50.0>50.0</option>
                </select>
                <button class='button' onclick=enqueue(JSON.stringify({"task_name":"setRate","device":"pump","rate":parseFloat($("#pump_rate").val())}))>Set Rate</button>
            </div>
            <!-- <h3 class="centered"> Driver Status </h3> <hr/> -->
            <hr/>
            <div id="command-queue">
                <!--<h3 class="centered">Task History </h3> <hr/> -->
                <div id="history" class="overflow"></div>
                <hr/>
                
                <!--<h3 class="centered">Running Task</h3> <hr/>-->
                <div id="running"class="overflow"></div>
                <hr/>

                <!--<h3 class="centered">Task Queue</h3> <hr/>-->
                <div id="queued"class="overflow"></div>
                <hr/>
            </div>
            <div id="driver_status" class="overflow"></div>
        </div id="content_container">
    </body>
</html>
