<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Autonomous Formulations Lab</title>

    <link rel="shortcut icon" href="static/webapp/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="static/webapp/style.css">
    <link rel="stylesheet" href="static/jquery/jquery-ui-1.13.0/jquery-ui.min.css">
    <link rel="stylesheet" href="static/jstree/dist/themes/default/style.min.css">

    <!-- JavaScript Sources -->
    <script src="static/jquery/jquery-3.4.1.min.js"></script>
    <script src="static/jquery/jquery-ui-1.13.0/jquery-ui.min.js"></script>
    
    <script src="static/jstree/dist/jstree.min.js"></script>
    <script src="static/webapp/addDiv.js"></script> <!-- add div javascript -->
    <script src="static/webapp/popup.js"></script> <!-- popup javascript -->
    <script src="static/webapp/servers.js"></script> <!-- servers javascript -->
    <script src="static/webapp/queueEditor.js"></script> <!-- queue editor javascript -->
    <script src="static/webapp/script.js"></script> <!-- main script javascript -->
</head>
<body>
    <div id="topbar">
        <header>
            <span id="column-select">Column-Count: <a href="javascript:setColCount(1);">[1]</a> <a href="javascript:setColCount(2);">[2]</a> <a href="javascript:setColCount(3);">[3]</a></span>
            <h2>Autonomous Formulations Lab</h2>
            <span id="version">ver. 0.0.0</span>
        </header>    
        <div class="menu">
            <ul id="servers"></ul>
            <button id="add-server-btn">Add Server</button>
            <!-- <button id="add-live-cam-btn">Add Live Cam</button> -->
        </div>
    </div>
    <div style="visibility: hidden; height: 45px;"></div> <!-- topbar spacing -->

    
    <div id="popup-background" style="visibility: hidden;">
        <div id="queueEditor" style="visibility: hidden"></div>
        <div id="popup" style="visibility: hidden;"></div>
    </div>
    
    <div id="main-content">
        <div id="containers" class="wrapper"></div>
    </div>

    <div style="visibility: hidden; height: 5px;"></div> <!-- footer spacing -->
    <footer><p id="status-bar"></p></footer>
    
    
</body>
</html>
