{% extends 'base.html' %}

{% block header %}
    {% block title %}New Component{% endblock %}
    <br>
    <a class="action" href="{{ back }}">Back</a>
{% endblock %}

{% block content %}
  <form method="post">

    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>

    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>

    <label for="mass">Mass</label>
    <input name="mass" id="mass" value="{{ request.form['mass'] }}" required>

    <label for="mass_units">Mass Units</label>
    <input name="mass_units" id="mass_units" value="{{ request.form['mass_units'] }}" required>

    <label for="density">Density</label>
    <input name="density" id="density" value="{{ request.form['density'] }}" required>

    <label for="density_units">Density Units</label>
    <input name="density_units" id="density_units" value="{{ request.form['density_units'] }}" required>

    <label for="formula">Formula</label>
    <input name="formula" id="formula" value="{{ request.form['formula'] }}" required>

    <label for="sld">SLD (Optional)</label>
    <input name="sld" id="sld" value="{{ request.form['sld'] }}">

    <input class="submit" type="submit" value="Save">


  </form>
{% endblock %}