{% extends 'base.html' %}

{% block header %}
    {% block title %}Stock Detail{% endblock %}
    <br>
    <a class="action" href="{{ back }}">Back</a>
{% endblock %}

{% block content %}

<div class="display">
    <p>To edit the associated component IDs, amount, units, and volmass go to stock component view.</p>
</div>


<article class="post">
  <header>
    <div>
      <h1>{{ post['name'] }} | ID:{{ post['id'] }}</h1>
      <div class="about">created on {{ post['created'] }}</div>
    </div>

  </header>

      <table class="table_detail" style="width:100%">

          <tr>
            <th>Component ID</th>
            <th>Component Name</th>
            <th>Amount</th>
            <th>Units</th>
            <th>Volmass</th>
          </tr>

        {% for post in components %}

        <tr>
        <td>{{ post['component_id'] }}</td>
        <td>{{ names[loop.index0] }}</td>
        <td>{{ post['amount'] }}</td>
        <td>{{ post['units'] }}</td>
        <td>{{ post['volmass'] }}</td>
        </tr>

        {% endfor %}

      </table>


</article>

{% endblock %}

